.App {
  text-align: center;
}

.App-logo {
  align-self: center;
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.scam{
  background-color: #ffe7e7;
  border-color: #a82525;
}
.verified{
  background-color: #E7FAF5;
  border-color: #21725E;
}
.textScam{
  color: #a82525;
}
.textVerified{
  color: #21725E;
}
.logof {
  padding-right: 50%;
  size: 0.25px;
  display: inline-block;
}
.algingin{
  align-self: center;
}
.block{

  block-size: auto;
}
.nft{
  size: 0.5px
}
.container{
  margin-top: 150px;
  align-self: center;
  height: 150px;
  display-role: 'flex';
  flexDirection: 'column';
  justifyContent: 'flex-end';
  alignItems: 'flex-start';
}
.background {
  position: static;
  backgroundSize: 'cover';
  backgroundPosition: 'center';
  backgroundAttachment: "fixed";
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
